numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
networkx==3.2.1
matplotlib==3.8.4
tqdm==4.66.4
scikit-learn==1.4.2
statsmodels==0.14.2
torch==2.3.1
cdt==0.6.0
causaldag==0.1a163
gies==0.0.3
causal-learn==0.1.3
